################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Program5/.vs/Program5/v15/Server/sqlite3
